[Unit]
Description=Perps Info Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/Perps-info-tg-bot
Environment="PATH=/usr/bin"
ExecStart=/usr/bin/python3 /opt/Perps-info-tg-bot/bot.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

